* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

main {
    margin: 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin-bottom: 1rem;
}

@keyframes fadeFromBlack {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
img {
    width: 100%;
    animation: fadeFromBlack 1s ease-in-out;
}
footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
}