@media (min-width: 37.5em) {
    nav {
        display: flex;
        align-items: center;
    }
    nav ul {
        display: flex;
        gap: 1.5rem;
    }
    .navigation {
        display: flex;
        flex-direction: row;
        position: static;
        width: auto;
    }
    .res-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        background-color: white;
        padding: 1rem;
    }
    #menu {
        display: none;
    }
    .navigation a {
        display: block;
    }
}