* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0f3660;
    --text-color: #ffffff;
    --font-text: "Montserrat", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--text-color);
    position: relative;
}

header h1 {
    padding: 1rem;
}

body {
    font-family: "Montserrat", Arial, sans-serif;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: var(--text-color);
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    cursor: pointer;
    z-index: 1000;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "✖";
}

.navigation {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: var(--primary-color);
    position: absolute;
    top: 100%;
    left: 0;
}

.navigation.open {
    display: flex;
}

.navigation li {
    text-align: center;
    padding: 0.75rem 0;
}

.navigation a {
    display: block;
    color: var(--text-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    font-weight: bold;
    font-family: var(--font-text);
    list-style: none;
}

nav a {
    text-decoration: none;
    color: var(--text-color);
    margin: 0 2rem;
}

nav a:hover {
    color: rgb(22, 182, 22);
    text-decoration: underline;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 2rem;
}

#gallery-heading {
    grid-column: 1 / -1;  
    text-align: center;
    font-family: var(--font-text);
    font-weight: bold;
    color: black;
    margin-bottom: 2rem;
}

.res-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    min-height: 600px;
    gap: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
    justify-items: center;
}

.res-grid section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    border: #c5c5c5 solid 1px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 1rem;
    max-width: 400px;
    width: 100%;
}

.res-grid section:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease;
}

.res-grid img {
    width: 100%;
    height: 250px;
    aspect-ratio: 400 / 250;
    object-fit: cover;
    border-radius: 1rem;
}

.res-grid h3 {
    margin-top: 0.5rem;
    font-family: var(--font-text);
}

.res-grid p {
    margin: 0;
    font-size: 0.9rem;
    font-family: var(--font-text);
}

footer {
    text-align: center;
    font-family: var(--font-text);
    font-weight: 400;
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--primary-color);
    padding: 1rem 0;
}