@media (min-width: 37.5em) {
    nav {
        display: flex;
        align-items: center;
    }
    nav ul {
        display: flex;
        gap: 20px;
    }
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
    #menu {
        display: none;
    }
    .navigation a {
        display: block;
    }
}